@model GameLibrary.Repository.Pagination.PaginatedList<GameLibrary.Data.Discount>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Usages
            </th>
            <th>
                Amount
            </th>
            <th>
                Percentage Amount
            </th>
            <th>
                Is Percentage
            </th>
            <th>
                Is Fixed Amount
            </th>
            <th>
                Game
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFixedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12">
                <div class="text-right">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="Index"
                       asp-route-page="@(Model.PageIndex - 1)"
                       class="btn btn-outline-success @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageIndex + 1)"
                       class="btn btn-outline-success @nextDisabled">
                        Next
                    </a>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
